@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>curso com hugo vasconcelos</p>

<br />
<br />

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{ 
    <fieldset>
        <legend>Informações de Pessoas</legend>


        <div>
            <b>@Html.LabelFor(x => x.PessoaID)</b>
        </div>
        <div>
            
            @Html.EditorFor(x => x.PessoaID)
        </div>
        <div>
            <b>@Html.LabelFor(x => x.Nome)</b>
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
        </div>
        <div>
            <b>@Html.LabelFor(x => x.Tipo)</b>
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
        </div>

        <p><input type="submit" value="Enviar"</p>

    </fieldset>
}
